:root {
    --light-green: #388E3C;
    --dark-green: #274E13;
    --medium-green: #337A30;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
    color: white;
}
  
nav {
    background-color: #388E3C;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      margin: 0 15px;
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;
      border-bottom: 3px solid var(--medium-green);
      transition: all 0.3s ease;
      text-decoration: none;
}
  
nav a:hover {
      text-decoration: none;
      color: var(--medium-green);
}
  
.right {
      margin-left: auto;
}

footer {
    background-color: var(--light-green);
    color: #fff;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo {
    width: 400px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.copyright {
    text-align: center;
}