@import url(style.css);
@import url(mq/cardapio.mq.css);
  
.right {
    margin-left: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
    position: relative; /* Add this line */
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 5px 5px 10px lightblue;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #388E3C;
    color: #fff;
}

tr:hover {
    background-color: #fff;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
    text-align: center;
    color: #388E3C;
}

.image2 {
    margin-bottom: -20px;
    max-width: 100%;
    max-height: 250px;
}

.button.excluir {
    background-color: var(--salmon);
    color: white;
    width: 80px;
}

.button.excluir:hover {
    background-color: var(--medium-salmon);
}

.button.cardapio-historico {
    background-color: rgb(44, 83, 255);
    color: white;
}

.button.cardapio-historico:hover {
    background-color: rgb(0, 47, 255);
}

.button.editar, .button.horario-admin {
    background-color: var(--light-green);
    padding: 10px;
    color: white;
    width: 80px;
}

.button.editar:hover, .button.horario-admin:hover {
    background-color: var(--dark-green);
}

.separador {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    width: 100%; /* Definindo largura total */
}

.horario-limite {
    text-align: center;
    font-weight: 600;
    background-color: rgb(202, 132, 124);
    width: 50%;
    padding: 10px;
    color: white;
}

/*.popup {
    width: 300px;
    height: 125px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

/*.popup-open {
    overflow: hidden;
}*/

.feedback-container {
    margin: 15px 0;
}

.feedback-container h3 {
    margin-bottom: 10px;
    color: #388E3C; /* Cor do título de feedback */
}

#feedback {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 10px; /* Espaçamento abaixo do textarea */
}

#btn-submit-feedback {
    background-color: #388E3C; /* Cor do botão de enviar */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#btn-submit-feedback:hover {
    background-color: #274E13; /* Cor do botão ao passar o mouse */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo para o pop-up de notificações */
.popup p {
    text-align: center;
    margin-bottom: 15px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 500px;
    width: 90%;
}

.popup h2 {
    color: #388E3C;
    text-align: center;
}

.popup #notificationList {
    margin-bottom: 20px;
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notification-item:last-child {
    border-bottom: none;
}

.popup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 10px;
}

.popup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 10px;
}

.popup button {
    display: block;
    margin: 10px auto 0;
    background-color: #388E3C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #274E13;
}

.popup button.close {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.popup button.close:hover {
    background-color: #e65c5c;
}

/* Fundo escurecido */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.button-agendados {
    position: absolute; /* Add this line */
    top: 20px; /* Adjust this value to maintain the same height as the other elements */
    right: 20px; /* Adjust this value to maintain the same margin as the other elements */
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-agendados:hover {
    background-color: #1e87da;
}