@import url(style.css);

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
}

h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

.label-data{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.filtro-container {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 5px 5px 10px lightblue;
    background-color: #388E3C;
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
    width: 80%;
    margin-top: 20px;
}

.filtro-campos {
    display: flex;
    gap: 10px;
}

.filtro-campos label {
    min-width: 100px;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
    text-align: center;
    color: #388E3C;
}

.cardapios {
    width: 80%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 5px 5px 10px lightblue;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #388E3C;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

.botoes-admin {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.botoes-admin a.botao-adicionar {
    display: inline-block;
    padding: 10px;
    background-color: #388E3C;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.botoes-admin button {
    padding: 10px;
    background-color: #388E3C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botoes-admin button:hover,
.botoes-admin a.botao-adicionar:hover {
    background-color: #2E7D32;
}

.container form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px lightblue;
}

label {
    margin-bottom: 8px;
}

.dia-semana {
    display: flex;
    flex-wrap: wrap;
}

.dia-semana > div {
    flex: 1;
    margin-right: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #388E3C;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2E7D32;
}

.botao-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.right {
    margin-left: auto;
}

.image2 {
    margin-bottom: -46px;
    max-width: 100%;
    max-height: 250px;
}