@import url(style.css);
@import url(mq/editar-horario.mq.css);

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
    text-align: center;
    color: #388E3C;
}

form {
    max-width: 350px;
    width: 350px;
    margin: 40px auto;
    padding: 50px;
    border: 1px solid #b4b4b4;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 8px;
}

input[type="date"], input[type="time"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f8f8f8;
}

.botao-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
#outro:disabled {
    cursor: not-allowed;
}