@import url(style.css);

.title {
    font-weight: bolder;
    margin-bottom: 10px;
    color: var(--light-green);
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.notification-container {
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid var(--medium-green);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-header, .notification-footer {
    background-color: var(--light-green);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.notification-content {
    padding: 20px;
}

.notification {
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    background-color: #f9f9f9;
}

.notification h2 {
    margin-top: 0;
    color: var(--dark-green);
}

.notification p {
    margin: 0;
    color: var(--gray);
}

.notification-footer {
    background-color: var(--light-green);
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Adiciona as barras verdes horizontais em cima e embaixo */
.notification-header::before, .notification-footer::after {
    content: "";
    display: block;
    height: 10px;
    background-color: var(--light-green);
    position: absolute;
    width: 100%;
    left: 0;
}

.notification-header::before {
    top: 0;
}

.notification-footer::after {
    bottom: 0;
}
