@import url(style.css);
@import url(mq/painel-administrador.mq.css);

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
    text-align: center;
    color: #388E3C;
}

label {
    margin-bottom: 8px;
}

.button-adm{
    padding: 10px 20px;
    width: 250px; /* Largura fixa para os botões */
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: var(--medium-green);/* Tom mais escuro do verde ao passar o mouse */
}

.button.blue {
    background-color: #2196F3; /* Azul */
    padding: 10px 20px;
    width: 250px; /* Largura fixa para os botões */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.button.blue:hover {
    background-color: #1e87da; /* Tom mais escuro do azul ao passar o mouse */
}