@import url(style.css);
@import url(mq/cardapio.mq.css);

/* Estilo para a página de perfil */
.perfil-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 15px 15px 60px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--light-green);
    margin-bottom: 20px;
}

.perfil-container h2 {
    color: var(--dark-green);
    font-size: 24px;
    margin-bottom: 10px;
}

.perfil-container p {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 10px;
}

#alterar-senha {
    background-color: var(--light-green);
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Espaço abaixo do botão */
    display: block; /* Garante que o botão ocupe toda a largura disponível */
    width: 100%; /* Faz com que o botão ocupe a largura total do contêiner */
}

#alterar-senha:hover {
    background-color: var(--dark-green);
}

.btn-logout {
    background-color: red; /* Cor de fundo vermelha */
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: block; /* Garante que o botão ocupe toda a largura disponível */
    width: 100%; /* Faz com que o botão ocupe a largura total do contêiner */
}

.btn-logout:hover {
    background-color: darkred; /* Cor de fundo vermelha escura no hover */
}
