@import url(style.css);

.container-sphere {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.person {
    text-align: center;
    margin-bottom: 20px;
}

.semi-sphere {
    width: 350px;
    height: 420px;
    background-color: transparent;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid #388E3C;
    box-shadow: 10px 10px 5px lightblue;
}

.img-sobre {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.person h2,
.person p {
    margin: 5px 0;
}

.person h2{
    color: #388E3C;
}

.rodape {
    background-color: #388E3C;
    color: #fff;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 400px; 
    height: auto;
  }
  
.copyright {
    text-align: center;
}