/* Regras para max-width de 768px */
@media (max-width: 768px) {
    h1 {
        font-size: 36px; /* Tamanho da fonte reduzido */
    }

    table {
        width: 95%; /* Expande a tabela para telas menores */
    }

    th, td {
        padding: 10px; /* Reduz o padding nas células */
    }

    button {
        padding: 8px 16px; /* Reduz o tamanho dos botões */
    }

    .image2 {
        max-height: 150px; /* Ajusta o tamanho da imagem */
    }

    .popup {
        width: 90%; /* Ajusta a largura do pop-up */
    }
}

/* Regras para max-width de 430px */
@media (max-width: 430px) {
    h1 {
        font-size: 28px; /* Tamanho da fonte ainda mais reduzido */
    }

    table {
        width: 100%; /* Expande a tabela para quase toda a tela */
    }

    th, td {
        padding: 8px; /* Padding ainda menor nas células */
    }

    button {
        padding: 6px 12px; /* Botões menores */
    }

    .image2 {
        max-height: 100px; /* Tamanho da imagem ajustado para telas menores */
    }

    .popup {
        width: 95%; /* Expande o pop-up para quase toda a largura */
    }
}