/* Regras para max-width de 768px */
@media (max-width: 768px) {
    .approved-image {
        max-width: 50%; /* Aumenta a largura da imagem em telas menores */
    }

    .confirmation-message {
        width: 90%; /* Expande o retângulo para ocupar mais espaço em telas menores */
        font-size: 16px; /* Reduz levemente o tamanho da fonte */
    }
}

/* Regras para max-width de 430px */
@media (max-width: 430px) {
    .approved-image {
        max-width: 70%; /* Aumenta ainda mais a largura da imagem em telas pequenas */
    }

    .confirmation-message {
        width: 95%; /* Expande o retângulo para quase toda a largura da tela */
        font-size: 14px; /* Reduz o tamanho da fonte para melhorar a legibilidade em telas pequenas */
    }
}