/* Media query para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    .container2 {
        margin: 10px; /* Reduz a margem da container */
        padding: 15px; /* Reduz o padding da container */
    }

    h1 {
        font-size: 36px; /* Tamanho do título reduzido */
    }

    input[type="date"],
    input {
        font-size: 14px; /* Reduz o tamanho da fonte dos inputs */
    }

    .dia-semana {
        flex-direction: column; /* Flex para coluna */
    }

    .dia-semana > div {
        margin-right: 0; /* Remove margem à direita */
        margin-bottom: 10px; /* Espaçamento entre os itens */
    }

    .botao-container {
        flex-direction: column; /* Botões empilhados */
        gap: 10px; /* Espaço entre os botões */
    }

    .validar, .cancelar {
        width: 100%; /* Botões em largura total */
    }
}

/* Media query para dispositivos com largura máxima de 430px */
@media (max-width: 430px) {
    h1 {
        font-size: 28px; /* Tamanho do título ainda menor */
    }

    input[type="date"],
    input {
        font-size: 12px; /* Fonte menor nos inputs */
    }

    .validar, .cancelar {
        font-size: 14px; /* Tamanho da fonte dos botões reduzido */
    }
}
