@import url(style.css);

/* Media query para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    h1 {
        font-size: 36px; /* Tamanho menor do título */
    }

    input[type=text],
    select {
        padding: 8px; /* Menor padding */
        margin-bottom: 15px; /* Menor margem */
    }

    .botao-container {
        flex-direction: column; /* Botões empilhados */
        gap: 10px; /* Espaço entre os botões */
    }

    .cancelar,
    .validar {
        width: 100%; /* Botões em largura total */
    }
}

/* Media query para dispositivos com largura máxima de 430px */
@media (max-width: 430px) {
    h1 {
        font-size: 28px; /* Tamanho ainda menor do título */
    }

    input[type=text],
    select {
        font-size: 14px; /* Fonte menor */
    }

    .container {
        margin: 10px; /* Menor margem na container */
    }
}