/* Media query para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    .container {
        margin: 10px; /* Reduz a margem da container */
    }

    h1 {
        font-size: 36px; /* Tamanho do título reduzido */
    }

    input[type=text] {
        padding: 8px; /* Reduz o padding do input */
    }

    .botao-container {
        flex-direction: column; /* Botões empilhados */
        gap: 10px; /* Espaço entre os botões */
    }

    .cancelar,
    .validar {
        width: 100%; /* Botões em largura total */
    }
}

/* Media query para dispositivos com largura máxima de 430px */
@media (max-width: 430px) {
    h1 {
        font-size: 28px; /* Tamanho do título ainda menor */
    }

    input[type=text] {
        font-size: 14px; /* Fonte menor */
    }
}
