@import url(style.css);

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    input[type=text],
    select {
        width: calc(100% - 15px);
        padding: 8px;
    }

    .botao-container {
        flex-direction: column;
    }

    .cancelar, .validar {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    input[type=text],
    select {
        padding: 6px;
    }

    .botao-container {
        flex-direction: column;
    }

    .cancelar, .validar {
        padding: 10px;
    }
}