@media (max-width: 768px) {
    table {
        width: 100%; /* Faz a tabela ocupar 100% da largura do contêiner */
        font-size: 14px; /* Diminui o tamanho da fonte */
    }

    th, td {
        padding: 10px; /* Reduz o espaçamento interno */
    }

    h1 {
        font-size: 36px; /* Diminui o tamanho do título */
    }

    .container {
        margin: 10px; /* Reduz o espaço em torno do contêiner */
    }
}

/* Media query para dispositivos com largura máxima de 430px */
@media (max-width: 430px) {
    table {
        width: 100%; /* Ajusta a tabela para caber na tela */
        font-size: 12px; /* Reduz ainda mais o tamanho da fonte */
    }

    th, td {
        padding: 8px; /* Reduz o espaçamento interno */
    }

    h1 {
        font-size: 28px; /* Ajusta o tamanho do título */
    }

    .image2 {
        max-height: 150px; /* Reduz a altura máxima da imagem */
    }
}