/* Regras para max-width de 768px */
@media (max-width: 768px) {
    .img-logo {
        width: 100%;
    }

    .container {
        margin: 10px;
    }

    h1 {
        font-size: 36px;
    }

    table {
        width: 100%;
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }

    .botoes-admin {
        flex-direction: column;
        gap: 10px;
    }

    .botoes-admin a.botao-adicionar, .botoes-admin button {
        width: 100%;
    }
}

/* Regras para max-width de 430px */
@media (max-width: 430px) {
    .img-logo {
        width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    th, td {
        padding: 8px;
    }

    .botoes-admin {
        flex-direction: column;
    }

    .botoes-admin a.botao-adicionar, .botoes-admin button {
        width: 100%;
        font-size: 14px;
    }
}