@import url(style.css);

@media (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 20px;
    }

    h1 {
        font-size: 36px;
    }

    form {
        padding: 30px;
    }

    input[type="date"], input[type="time"] {
        font-size: 14px;
    }
}

@media (max-width: 430px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 28px;
    }

    form {
        width: 100%;
        padding: 20px;
    }

    input[type="date"], input[type="time"] {
        font-size: 12px;
    }

    .botao-container {
        flex-direction: column; /* Altera a direção dos botões para coluna em telas pequenas */
        align-items: stretch; /* Os botões ocuparão a largura total */
    }

    .botao-container a, .botao-container button {
        width: 100%; /* Botões ocupam a largura total */
        margin-bottom: 10px; /* Espaçamento entre os botões */
    }
}