@media (max-width: 430px) {
    .container {
        margin: 10px; /* Reduzir a margem para telas menores */
    }

    h1 {
        font-size: 32px; /* Diminuir o tamanho do título */
    }

    .button-adm,
    .button.blue {
        width: 100%; /* Botões ocupam toda a largura */
    }

    .button-adm {
        padding: 8px; /* Reduzir o padding */
    }

    .button.blue {
        padding: 8px; /* Reduzir o padding */
    }
}