@media (max-width: 430px) {
    /* Estilos para o popup de alterar senha */
    .popup-2 {
        display: flex; 
        position: fixed;
        z-index: 999; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .popup-content-2 {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        max-width: 90%; /* Ajustado para se adaptar melhor em telas menores */
        width: 100%;
        text-align: center; 
    }

    .perfil-container {
        max-width: 90%; /* Ajustado para telas menores */
        margin: 20px auto;
        padding: 10px;
    }

    .foto-perfil {
        width: 100px; /* Ajustado para telas menores */
        height: 100px; /* Ajustado para telas menores */
    }

    .perfil-container h2 {
        font-size: 20px; /* Ajustado para telas menores */
    }

    .perfil-container p {
        font-size: 16px; /* Ajustado para telas menores */
    }

    .alterar-senha-2, .btn-logout {
        padding: 10px;
    }
}
