@import url(main.mq.css);

@media only screen and (max-width: 430px) {
    .img-logo {
        width: 100%;
    }

    .center {
        padding: 10px; /* Reduzindo o padding para telas menores */
    }

    .center h1 {
        font-size: 24px; /* Tamanho da fonte reduzido para o título */
        margin-bottom: 10px; /* Margem reduzida */
    }

    .buttons {
        flex-direction: column; /* Mudando a direção dos botões para coluna */
        align-items: center; /* Centralizando os botões */
        width: 100%; /* Botões ocupando toda a largura */
    }

    .buttons input {
        width: 100%; /* Botões ocupando a largura total */
        padding: 8px; /* Padding reduzido para os botões */
        margin-bottom: 10px; /* Margem entre os botões */
    }

    img[alt="qr-code-almoço"] {
        width: 100%; /* Largura total da imagem do QR Code */
        max-width: 300px; /* Limite máximo para evitar que fique muito grande */
    }
}