@import url(main.mq.css);

@media only screen and (max-width: 430px) {
    .img-logo {
        width: 100%; /* A logo ocupa toda a largura da tela */
    }

    .titulo {
        font-size: 30px; /* Tamanho da fonte reduzido para dispositivos menores */
        margin-bottom: 20px; /* Margem reduzida */
    }

    .container {
        width: 90%; /* Largura do container aumentada para melhor ajuste em telas pequenas */
        margin: 10px; /* Margem reduzida */
    }

    .input-container {
        flex-direction: column; /* Alterando para coluna para melhor visualização em dispositivos menores */
        align-items: flex-start; /* Alinhamento à esquerda dos itens */
    }

    .input-container label {
        margin-right: 0; /* Removendo margem à direita em dispositivos pequenos */
        margin-bottom: 5px; /* Adicionando margem inferior para espaço */
    }

    input[type="text"] {
        width: 100%; /* Largura total dos campos de texto em dispositivos pequenos */
        margin-right: 0; /* Removendo margem à direita */
        margin-bottom: 10px; /* Adicionando margem inferior para espaço */
    }

    .input-container button {
        width: 100%; /* Botão ocupando a largura total */
        margin-left: 0; /* Removendo margem à esquerda */
    }

    table {
        width: 100%; /* Largura total da tabela em dispositivos pequenos */
    }

    th, td {
        padding: 10px; /* Reduzindo padding nas células da tabela */
    }

    .separador {
        flex-direction: column; /* Mudando a direção para coluna */
        align-items: center; /* Centralizando o botão "Voltar" */
    }

    .button-voltar {
        width: 100%; /* Botão "Voltar" ocupando a largura total */
        margin-top: 10px; /* Adicionando margem superior */
    }
}