<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cardapio.css">
    <title>Cardápio Semanal</title>
</head>
<body>
    <header>
        <img src="../assets/1b1210fdf4454600bea220983da0cc63.png" alt="logo-ifba-seabra">
    </header>

    <nav>
        <div>
            <a href="../index.html">Início</a>
            <a href="cardapio.html">Cardápio</a>
            <a href="sobre.html">Sobre</a>
        </div>
        <div class="right">
            <a href="login.html">LOGIN</a>
        </div>
    </nav>

    <div class="container-cardapio">
        <h1>CARDÁPIO SEMANAL</h1>
        <img src="../assets/_a865d40c-77b6-4702-b2aa-50249d59935d-removebg-preview.png" alt="Imagem do Boneco" class="image2">
        <table>
            <thead>
                <tr>
                    <th>Dia</th>
                    <th>Prato Principal</th>
                    <th>Acompanhamento</th>
                    <th>Sobremesa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Segunda</td>
                    <td>Frango Grelhado</td>
                    <td>Arroz Integral</td>
                    <td>Frutas</td>
                </tr>
                <tr>
                    <td>Terça</td>
                    <td>Peixe Assado</td>
                    <td>Quinoa</td>
                    <td>Iogurte com Mel</td>
                </tr>
                <tr>
                    <td>Quarta</td>
                    <td>Vegetariano</td>
                    <td>Salada de Grão-de-Bico</td>
                    <td>Gelatina</td>
                </tr>
                <tr>
                    <td>Quinta</td>
                    <td>Carne de Porco ao Molho</td>
                    <td>Purê de Batata</td>
                    <td>Pudim</td>
                </tr>
                <tr>
                    <td>Sexta</td>
                    <td>Macarrão com Almôndegas</td>
                    <td>Legumes Cozidos</td>
                    <td>Sorvete</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <div class="footer-content">
          <div class="logo">
            <img src="../assets/1b1210fdf4454600bea220983da0cc63.png" alt="logo-ifba-seabra">
          </div>
          <div class="copyright">
            <p>&copy; 2023 | IFBA - Instituto Federal de Educação, Ciência e Tecnologia da Bahia
              Campus Seabra</p>
          </div>
        </div>
      </footer>
    <script src="View/script.js"></script>
</body>
</html>
