<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cardapio.css">
    <title>Cardápio Semanal</title>
</head>
<body>
    <header>
        <img src="../assets/1b1210fdf4454600bea220983da0cc63.png" alt="logo-ifba-seabra">
    </header>

    <nav>
        <div>
            <a href="../index.html">Início</a>
            <a href="cardapio.html">Cardápio</a>
        </div>
        <div class="right">
            <a href="../Controller/login.php">LOGIN</a>
        </div>
    </nav>

    <main>
        <div class="overlay">
            <h2>CARDÁPIO SEMANAL</h2>
        </div>
        <div class="transparent-box">
            <div class="menu">
                <div class="days">
                    <div class="day">Segunda</div>
                    <div class="day">Terça</div>
                    <div class="day">Quarta</div>
                    <div class="day">Quinta</div>
                    <div class="day">Sexta</div>
                </div>
                <div class="separator"></div>
                <div class="meals">
                    <div class="meal">Frango Grelhado com Molho de Limão</div>
                    <div class="meal">Spaghetti à Bolonhesa com Tomate Fresco</div>
                    <div class="meal">Salada Caesar com Croutons Crocantes</div>
                    <div class="meal">Sopa de Legumes com Ervas Aromáticas</div>
                    <div class="meal">Peixe Assado com Vegetais Assados</div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div>
            <img src="../assets/1b1210fdf4454600bea220983da0cc63.png" alt="logo-ifba-seabra" class="logo">
        </div>
        <div class="copyright">
          <p>&copy; 2023 | IFBA - Instituto Federal de Educação, Ciência e Tecnologia da Bahia
            Campus Seabra</p>
        </div>
      </footer>
    <script src="View/script.js"></script>
</body>
</html>
