:root {
  --light-green: #388E3C;
  --dark-green: #274E13;
  --medium-green: #337A30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-green);
  color: white;
}

nav {
  background-color: #388E3C;
  color: #fff;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 15px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 3px solid var(--medium-green);
    transition: all 0.3s ease;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: var(--medium-green);
}

.right {
    margin-left: auto;
}

.session-2{
    height: 500px;
    background: url('assets/ifba_campus-seabra_fotomarivaldo-oliveira.png') center;
    background-size: 100%;
    align-items: center;
    justify-content: center;
}

.texto{
    margin-left: 300px;
    margin-top: 50px;
}

.custom-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--light-green); /* Cor de fundo do botão */
    border: 2px solid var(--medium-green); /* Cor da borda do botão */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s, color 0.3s;
    margin-left: -255px;
  }

  .custom-button:hover {
    background-color: var(--medium-green); /* Altera a cor de fundo ao passar o mouse */
    color: #fff; /* Altera a cor do texto ao passar o mouse */
  }

  .box1 {
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .box2 {
    flex: 1;
    text-align: center;
  }

  .title {
    font-weight: bolder;
    margin-bottom: 10px;
    color: var(--light-green);
    font-size: 50px;
  }

  .text {
    margin-bottom: 20px;
    color: gray;
  }

  .image {
<<<<<<< HEAD
    width: 440px; /* Ajuste o tamanho conforme necessário */
=======
    width: 300px; /* Ajuste o tamanho conforme necessário */
>>>>>>> 0d5da1b (login)
    height: auto;
    margin-top: 20px;
    margin-right: 250px;
  }

  .announcements-section {
    height: 500px;
    background-color: var(--light-green); /* Verde */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
  }

  .announcements-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .announcements-image {
    width: 400px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 20px; /* Adiciona espaço abaixo da imagem */
<<<<<<< HEAD
  }

  .announcements-title {
=======
    margin-left: 150px;
  }

  .announcements-title {
<<<<<<< HEAD:style.css
    margin-right: 300px;
>>>>>>> 0d5da1b (login)
=======
>>>>>>> b258ff3 (Create MVC básico):View/style.css
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }

  .separator{
<<<<<<< HEAD:style.css
<<<<<<< HEAD
=======
    margin-right: 300px;
>>>>>>> 0d5da1b (login)
=======
>>>>>>> b258ff3 (Create MVC básico):View/style.css
    margin-bottom: 10px;
  }

  .announcements-subtitle {
<<<<<<< HEAD:style.css
<<<<<<< HEAD
=======
    margin-right: 300px;
>>>>>>> 0d5da1b (login)
=======
>>>>>>> b258ff3 (Create MVC básico):View/style.css
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }

  .announcements-text {
<<<<<<< HEAD:style.css
<<<<<<< HEAD
=======
    margin-right: 300px;
>>>>>>> 0d5da1b (login)
=======
>>>>>>> b258ff3 (Create MVC básico):View/style.css
    font-size: 16px;
    color: white;
  }

  .menu-section {
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .menu-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--light-green);
  }
  
  .menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .menu-item {
    width: 200px;
    margin: 20px;
  }

  .menu-image {
    width: 70px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 10px;
  }

  .menu-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--light-green);
  }

  .menu-info {
    font-size: 16px;
    color: gray;
  }

  .session-cardapio{
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  footer {
    background-color: var(--light-green);
    color: #fff;
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 400px; /* Ajuste o tamanho conforme necessário */
    height: auto;
  }

  .copyright {
    text-align: center;
  }